 #Team_4c {
            max-width: 300px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 2px;
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
            border-bottom: 3px dashed grey;
        }



        #team_photo {
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .container1 {
            line-height: 1;
            max-width: 800px;
            width: 90%;
            margin-top: 80px;
        }

        .photo {
            width: 150px;
            height: 150px;
        }

        .name {
            margin-top: 20px;
            font-weight: 600;
            line-height: 16px;
            font-size: 15px;
            margin-bottom: 6px;
            text-align: center;
        }



        .description {
            margin-bottom: 10px;
            line-height: 1.2;
            font-size: 13px;
            text-align: center;
        }



        .progress {
            background-color: #6c6c6c;
            position: fixed !important;
            top: 50px;
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
            height: 30px;
        }

        .kcal {
            position: fixed !important;
            top: 54px;
            width: 98%;
            height: 30px;
            margin-left: 1%;
            margin-right: 1%;
            text-align: center;
            font-weight: 600;
            color: white;
            z-index: 1;
        }


        .page--menu-page__background {
            background-color: #333;
        }

        .page--menu-page__content {
            color: white;
        }

        .menu-close,
        .menu-close > .toolbar-button {
            color: #999;
        }

        .menu-list,
        .menu-item:first-child,
        .menu-item:last-child,
        .menu-item {
            background-color: transparent;
            background-image: none !important;
            border-color: transparent;
            color: #fff;
        }

        .menu-item {
            padding: 0 0 0 20px;
            line-height: 52px;
            height: 52px;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
        }

            .menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

        .menu-notification {
            display: inline-block;
            margin-top: 12px;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            min-width: 16px;
            font-weight: 600;
        }

        .bottom-menu-list,
        .bottom-menu-item:first-child,
        .bottom-menu-item:last-child,
        .bottom-menu-item {
            border-color: #393939;
            background-color: transparent;
            background-image: none !important;
            color: #ccc;
        }

            .bottom-menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

        #logo_4code {
            width: 90%;
            height: auto;
            margin-left: 5%;
            margin-right: 5%;
        }
.profile-wrapper {
  padding: 16px 10px 0 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-name {
  font-size: 18px;
  padding: 4px 0 2px 0;
}

.profile-email {
  font-size: 15px;
  opacity: 0.4;
}

.switch--list-item {
  margin-right: 0px;
}

.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}

.settings-list {
  margin-top: 10px;
}
.form-row {
  margin: 4px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 90%;
  margin: 50px auto 0px auto;
}

input[type=text],
input[type=password] {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}