<?xml version='1.0' encoding='utf-8'?>
<widget id="eat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eat!</name>
    <description>
        Eat! App to help people used to good organize of food habbits. 
    </description>
    <author email="contact@4code.org" href="http://4code.org">
        4code team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
